/*Imported sstyle sheeds should go at the top of your sites's CSS*/
@import url('import.css');
main
{
    /*background-color:lavender;*/
    background-color:RGBA(150,150,150,.8);
    padding: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

header
{
    background-color: aliceblue;
    padding:.5em;
}

h1
{
    color:darkblue;
}

h2
{
    color: rebeccapurple;
    text-decoration: underline;
    font-size: 20px;
}

aside h2
{
    background-color: cornsilk;
    color: aqua;
    text-decoration: none;

}

header h1 
{
    color:indigo
}

footer {
    font-style: italic;
    background-color: aliceblue;
    text-align:center;
    

}
nav a
{
font-weight:bold;
color:lightsalmon;
}
nav ul
{
    background-color:teal;
    border-top:2px solid gray;
    border-bottom:2px solid gray;
}
a
{
    color:teal;
    font-weight: bold;
    text-decoration:none;
}
/* horizontal nav bar styling*/

nav ul li
{
    display:inline-block;
}
nav ul li a
{
    padding: .5em 1em;
    display: block;
}

/* CSS pseudo-selectors allow us to set CSS styling for specific events, such as when you hover over an element, make an  element the gocus of tha page, or change styling based on  wheter or not a link has been visited*/

a:hover
{
    color: lightblue;
    text-decoration: underline;
    background-color:darkblue
}

nav a:hover
{
    background-color:lightsalmon;
    color:teal;
}
nav a:hover .selected
{
    background-color: lightsalmon;
    color: teal
}
#colordemo1
{
    background-color:#6B00E8;
    color:#FA1587;
}
#colordemo2
{
    background-color:#DDD;
    color:#111;
}

/*Images styling*/
body {
    background: url('../images/ben-krygsman-745458-unsplash.jpg');
    background-size:cover;
    background-attachment:fixed
        
}
/*Floats and clears*/

header img
{
float:left;
margin: 1em;
}